.linter-container {
  --border: 2px solid black;
  --background-color: black;

  display: flex;
  flex-direction: column;

  gap: 2rem;
  padding: 1rem;
  min-height: 400px;
}

.linter-actions {
  display: flex;
  height: min-content;
  gap: 1rem;

  button {
    background-color: yellow;
    border-radius: 5px;
    border: none;
  }
}

.active {
  --border: 2px solid orange;
}

.linter-console {
  border: var(--border);
  background-color: black;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#linter-console-updates {
  font-size: small;
  border-radius: 5px;
  background-color: var(--background-color);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateZ(--font-size);
  padding: 1rem;
}

#notebook-container {
  display: grid;
  background-color: #5e5ef8;
  grid-template-columns: 3fr 1fr;
}

#my-element {
  color: white;

  padding: 1rem;
}
